.tittle-sup {
    color: #363D40;
    display: inline-block;
    margin-bottom: -1px;
    padding-right: 15px;
    border-bottom: solid 1px #498AB8;
    padding-bottom: 4px;
    font: 16px/28px 'PT Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 8px;
}
.page-title-box {
    display: block;
    border-bottom: solid 1px #f0f0f0;
    margin-bottom: 25px;
    position: relative;
}
.clearfix, .row {
    zoom: 1;
}
.main-page-title {
    color: #434343;
    font: 'PT Sans'!important;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    text-transform: none;
    letter-spacing: 0px;
    border-bottom: solid 3px #498AB8;
    padding-right: 15px;
    margin-bottom: -2px;
    padding-bottom: 4px;
    padding-top: 8px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}
.banner-top{
    margin-left: -30px!important;
    margin-right: -30px!important;
	    margin-top: -18px;
}
.banner-cs
{
margin-top: -15px;
margin-left: -30px;
margin-right: -30px;
}

/**************************************/	
/*menu top*/

.navbar-inverse-top {
  background-color: rgba(230,230,230,0.9);
  margin-left: -15px;
  margin-right: -15px;
  font-size: 12px;
}
.navbar-inverse-top .navbar-brand {
  color: #999;
}
.navbar-inverse-top .navbar-brand:hover,
.navbar-inverse-top .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-inverse-top .navbar-text {
  color: #fac0ba;
}
.navbar-inverse-top .navbar-nav > li > a {
  color: #666;
}
.navbar-inverse-top .navbar-nav > li > a:hover,
.navbar-inverse-top .navbar-nav > li > a:focus {
  color: #498AB8;
  background-color: transparent;
}
.navbar-inverse-top .navbar-nav > .active > a,
.navbar-inverse-top .navbar-nav > .active > a:hover,
.navbar-inverse-top .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: transparent;
}
.navbar-inverse-top .navbar-nav > .disabled > a,
.navbar-inverse-top .navbar-nav > .disabled > a:hover,
.navbar-inverse-top .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-inverse-top .navbar-toggle {
  border-color: rgba(10,10,10,0.7);
}
.navbar-inverse-top .navbar-toggle:hover,
.navbar-inverse-top .navbar-toggle:focus {
  background-color: #1F75AF;
}
.navbar-inverse-top .navbar-toggle .icon-bar {
  background-color: rgba(10,10,10,0.7);
}
.navbar-inverse-top .navbar-collapse,
.navbar-inverse-top .navbar-form {
  border-color: rgba(10,10,10,0.7);
}
.navbar-inverse-top .navbar-nav > .open > a,
.navbar-inverse-top .navbar-nav > .open > a:hover,
.navbar-inverse-top .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #999;
}
@media (max-width: 767px) {
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .dropdown-header {
    border-color: #1F75AF;
  }
  .navbar-inverse-top .navbar-nav .open .dropdown-menu .divider {
    background-color: #1F75AF;
  }
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > li > a {
    color: rgba(10,10,10,0.7);
  }
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #444;
    background-color: transparent;
  }
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: transparent;
  }
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-inverse-top .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-inverse-top .navbar-link {
  color: #fac0ba;
}
.navbar-inverse-top .navbar-link:hover {
  color: #ffffff;
}
.navbar-inverse-top .btn-link {
  color: #fac0ba;
}
.navbar-inverse-top .btn-link:hover,
.navbar-inverse-top .btn-link:focus {
  color: #ffffff;
}
.navbar-inverse-top .btn-link[disabled]:hover,
fieldset[disabled] .navbar-inverse-top .btn-link:hover,
.navbar-inverse-top .btn-link[disabled]:focus,
fieldset[disabled] .navbar-inverse-top .btn-link:focus {
  color: #cccccc;
}
/*****************footer ***************/
.tittle-footer {
    color: #ccc;
    display: inline-block;
    margin-bottom: -1px;
    padding-right: 15px;
    border-bottom: solid 1px #ccc;
    padding-bottom: 4px;
    font: 16px/28px 'PT Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 8px;
}
.page-title-box-footer {
    display: block;
    border-bottom: solid 1px #555;
    margin-bottom: 25px;
    position: relative;
}
.footer-css{
	color:#bbb!important;
    font-family: PT Sans;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    text-transform: none;
	}

.flotante {
    display: scroll;
    position: fixed;
    bottom: 55px;
    right: 0px;
}