.tittle-sup {
    color: #363D40;
    display: inline-block;
    margin-bottom: -1px;
    padding-right: 15px;
    border-bottom: solid 1px #498AB8;
    padding-bottom: 4px;
    font: 16px/28px 'PT Sans', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 0px;
    padding-top: 8px;
}
.page-title-box {
    display: block;
    border-bottom: solid 1px #f0f0f0;
    margin-bottom: 25px;
    position: relative;
}
.clearfix, .row {
    zoom: 1;
}
.main-page-title {
    color: #434343;
    font: 'PT Sans'!important;
    font-weight: bold;
    font-size: 26px;
    line-height: 40px;
    text-transform: none;
    letter-spacing: 0px;
    border-bottom: solid 3px #498AB8;
    padding-right: 15px;
    margin-bottom: -2px;
    padding-bottom: 4px;
    padding-top: 8px;
}
.alignright {
    display: inline;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
}
.banner-top{
    margin-left: -30px!important;
    margin-right: -30px!important;
	    margin-top: -18px;
}