---
title: Concurso Escolar de Programacion 2017
---

{% include_relative assetsCep2017/includes/header.html %}

<div id="index-banner" class="parallax-container paddeame" xmlns="http://www.w3.org/1999/html">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center-align">
                <br/><br/>
                <div class="col s12">
                    <h1 class="header display-1 col s12">Concurso Escolar de Programación</h1>
                    <h5 class="col s12 white-text">Del 1 al 2 de Diciembre</h5>
                </div>
                <div id="clockdiv">
                    <div>
                        <span class="days"></span>
                        <div class="smalltext">Días</div>
                    </div>
                    <div>
                        <span class="hours"></span>
                        <div class="smalltext">Horas</div>
                    </div>
                    <div>
                        <span class="minutes"></span>
                        <div class="smalltext">Minutos</div>
                    </div>
                    <div>
                        <span class="seconds"></span>
                        <div class="smalltext">Segundos</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="parallax"><img class="oscura responsive-img" src="assetsCep2017/static/codemejor.jpg"
        alt="Unsplashed
        background img 1"></div>
</div>


<div class="container" id="inicio">
    <div class="section">
        <div class="row" id="content">
            <div class="col s12 m12 l12">
                <h5 class="center">¿En qué consiste?</h5>
                <p style="font-size: large" class=" center-align light">El Concurso Escolar de Programación, es una competencia entre escolares de nivel secundario, que consiste en la resolución de problemas, haciendo uso de un computador(programación) y conocimientos matemáticos</p>
            </div>
        </div>

        <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">thumb_up</i></h2>
                    <h5 class="center">Competencia Integral</h5>
                    <p class="light">Desarrolla tu creatividad y mide tus capacidades en comprensión lectora, matemática, abstracción y programación.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">trending_up</i></h2>
                    <h5 class="center">Camino al Éxito</h5>

                    <p class="light">Inspírate y sé un programador competitivo. Conoce y aprende con los mejores del Perú y el mundo.</p>
                </div>
            </div>

            <div class="col s12 m4">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">done_all</i></h2>
                    <h5 class="center">Ciencia de la Computación</h5>

                    <p class="light">Es la disciplina que ha permitido la creación de todo el software y grandes sitios web que utilizamos a diario. Experiméntala...</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial-container" id="testimonios">
        <div class="cd-testimonials-wrapper cd-container">
            <h1 class="center-align grey-text text-darken-2">Testimonios</h1>
            <ul class="cd-testimonials">
                <li>
                    <div class="testimonial-content">
                        <p>Este concurso me motivo a conocer mas sobre el mundo de la programación. y que no importa el numero de problemas
                            resueltos, sino el empeño y lo que uno aprende en el camino</p>
                        <div class="chip">
                            <img src="assetsCep2017/static/renato.png">
                            <strong>Renato Chavez</strong>
                        </div>
                        <br>
                        <div class="chip">
                            <i>Participante <strong>CEP 2016</strong>, 1er puesto</i>
                            <i class="close material-icons">close</i>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="testimonial-content">
                        <p>El CEP significó una gran experiencia siendo esta la primera vez que participé, me permitió desenvolverme en esto que tanto llamaba mi atención,
                            conocer gente que comparte esta afición y a su vez me permitió definir aquello a lo que me quiero dedicar,
                            en general fue una grata experiencia que espero más personas pueden vivir.</p>
                        <div class="chip">
                            <img src="assetsCep2017/static/guido.png">
                            <strong>Guido Tapia</strong>
                        </div>
                        <br>
                        <div class="chip">
                            <i>Participante <strong>CEP 2016</strong>, 3er puesto</i>
                            <i class="close material-icons">close</i>
                        </div>
                    </div>
                </li>

                <li>
                    <div class="testimonial-content">
                        <p>La programación ha desarrollado en mí la capacidad de crear nuevas cosas, empezar el día con un objetivo,
                            organizarme mejor, ahora siento que puedo hacer lo que mi mente imagine.
                        </p>
                        <div class="chip">
                            <img src="assetsCep2017/static/saul.png" >
                            <strong>Saul Rojas</strong>
                        </div>
                        <br>
                        <div class="chip">
                            <i>Participante <strong>CEP 2016</strong>, 5to puesto</i>
                            <i class="close material-icons">close</i>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="testimonial-content">
                        <p>La experiencia de ser entrenadora del CEP 2016 fue muy satisfactoria, porque durante ese tiempo pude ver el
                            interés de los estudiantes hacia lo que a veces se percibe como abstracto, y que ellos se dan cuenta de cómo
                            los cursos que llevan en el colegio pueden servirles para programar. Considero que está iniciativa nos ayuda
                            a descubrir en los jóvenes nuevas habilidades y destrezas que nos ayudan a identificar una vocación desde una
                            temprana edad y poder seguir practicando.</p>
                        <div class="chip">
                            <img src="assetsCep2017/static/brendita.png" >
                            <strong>Brenda Solari</strong>
                        </div>
                        <br>
                        <div class="chip">
                            <i>Entrenadora <strong>CEP 2016</strong></i>
                            <i class="close material-icons">close</i>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <!-- cd-testimonials -->
    </div>
</div>



<div class="slider" id="nosotros">
    <ul class="slides ">
        <li>
              <img class="responsive-img oscura" src="assetsCep2017/static/4.jpg">
            <div class="caption center-align">
                <h1 class="white-text grande">NOSOTROS</h1>
                <p class="flow-text white-text ">Somos una organización académica sin ánimo de lucro conformada por estudiantes de ciencia de
                    la computacion</p>
            </div>
        </li>


        <li>
             <img class="responsive-img oscura" src="assetsCep2017/static/1.JPG">
            <div class="caption center-align">
                <h1 class="white-text grande">NOSOTROS</h1>
                <p class="flow-text white-text ">Contamos con el respaldo de la Association of Computing Machinery lo que nos permite mantenernos al tanto y difundir el estado del arte en las diferentes ramas de la computación, así como establecer lazos profesionales a nivel nacional e internacional.</p>
            </div>
        </li>


        <li>
              <img class="responsive-img oscura" src="assetsCep2017/static/5.JPG" >
            <div class="caption left-align">
                <h2>CEP 2015</h2>
            </div>
        </li>

        <li>
              <img class="responsive-img oscura" src="assetsCep2017/static/6.JPG">
            <div class="caption right-align">
                <h2>Premiacion CEP 2015</h2>
            </div>
        </li>

        <li>
              <img class="responsive-img oscura" src="assetsCep2017/static/7.JPG">
            <div class="caption left-align">
                <h2>Clausura CEP 2015</h2>
            </div>
        </li>


        <li>
              <img class="responsive-img oscura" src="assetsCep2017/static/2.jpg">
            <div class="caption right-align">
                <h2>CEP 2016</h2>
            </div>
        </li>

        <li>
              <img class="responsive-img oscura" src="assetsCep2017/static/3.jpg">
            <div class="caption left-align">
                <h2>Premiacion CEP 2016</h2>
            </div>
        </li>
    </ul>
</div>

<div class="container" id="sponsors">
    <div id="sponsor" class="row">
        <h1 class="center-align grey-text text-darken-2">Sponsors</h1>
        <h5 class="center-align grey-text text-darken-2">NUESTROS SPONSORS ESTAN COMPROMETIDOS CON LA EDUCACION</h5>
        </br>
        <div class="carousel">
            <a class="carousel-item" href="www.facebook.com/ACMUCSP"><img class="responsive-img" src="assetsCep2017/static/acm_logo.png"></a>
            <a class="carousel-item" href="http://get.tech/"><img class="responsive-img" src="assetsCep2017/static/tech.png"></a>
        </div>
    </div>
</div>

<div class="gris" id="ubicacion">
    <div class="section">
        <div class="container">
            <div class="row">
                <h1 class="center-align titletext">Cómo Participar?</h1>
                <h5 class="center-align titletext">Compite y gana grandes premios</h5>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center blue-text"><i class="material-icons">location_on</i></h2>
                        <h5 class="center rellenotext">Ubicación</h5>
                        <p class="center rellenotext" style="font-size: 22px">Universidad Católica San Pablo</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center  blue-text"><i class="material-icons">query_builder</i></h2>
                        <h5 class="center rellenotext">Día 1 de Diciembre</h5>
                        <p class="center rellenotext" style="font-size: 22px">Simulacro</p>
                    </div>
                </div>
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h2 class="center red-text"><i class="material-icons">schedule</i></h2>
                        <h5 class=" rellenotext center">Día 2 de Diciembre</h5>
                        <p class="center rellenotext" style="font-size: 22px">Concurso</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container paddeame" id="register">

    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScWPuZsJikAD6U-86zPEA4kqrJdrWGWTH6eClRxBUGWAdSG_w/viewform?embedded=true" width="100%"
            height="100%" frameborder="0" marginheight="0" marginwidth="200">Cargando...</iframe>
</div>



{% include_relative assetsCep2017/includes/footer.html %}
