            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li {% if page.path == "about.html" %}class="active"{% endif %}><a href="/about.html">Nosotros</a></li>
                  <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Autoridades<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                    <a href="director.html">Director</a>
                    </li>
                  </ul>
                </li>
                <li {% if page.path == "people.html" %}class="active"{% endif %}><a href="/people.html">Docentes</a></li>
                <li {% if page.path == "education.html" %}class="active"{% endif %}><a href="/education.html">Educación</a></li>
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="http://rics.ucsp.edu.pe/mcs/" target="_blank">Maestría</a></li>                
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="http://rics.ucsp.edu.pe/" target="_blank">Centro de Investigación</a></li>                

                <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Estudiantes<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                    <a href="/estudiantes/index.html">Estudiantes actuales</a>
                    </li>
                    <li>
                    <a href="/estudiantes/futuros.html">Estudiantes futuros</a>
                    </li>
                    <li>
                    <a href="/estudiantes/destacados.html">Estudiantes destacados</a>
                    </li>
                    <li>
                    <a href="/estudiantes/preguntasfrecuentes.html">Preguntas frecuentes</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
