            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li {% if page.path == "about.html" %}class="active"{% endif %}><a href="/about.html">Nosotros</a></li>
                <li {% if page.path == "people.html" %}class="active"{% endif %}><a href="/people.html">Docentes</a></li>
                <li {% if page.path == "education.html" %}class="active"{% endif %}><a href="/education.html">Educación</a></li>
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="/research.html">Investigación</a></li>
                <li {% if page.path == "estudiantes/index.html" %}class="active"{% endif %}><a href="/estudiantes">Estudiantes</a></li> 
                <li> <a href="http://ucsp.edu.pe/club-de-robotica/">Club de Robótica</a></li>
                <!-- <li {% if page.path == "club-robotica/index.html" %}class="active"{% endif %}><a href="/club-robotica/">Club de Robótica</a>
                    <ul class="dropdown-menu">
                        <li {% if page.path == "club-robotica/drones/index.html" %}class="active"{% endif %}><a href="/club-robotica/"><a href="/club-robotica/drones/">Armado y Construcciones de Drones</a></li>
                    </ul>
                </li> -->
              </ul>
            </div>
