            <div class="navbar-collapse collapse navbar-responsive-collapse">
              <ul class="nav navbar-nav">
                <li {% if page.path == "about.html" %}class="active"{% endif %}><a href="/about.html">About us</a></li>
                  <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Authorities<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                   <li>
                    <a href="/decano_en.html">Dean</a>
                    </li>
                    <li>
                    <a href="/director_en.html">Director</a>
                    </li>
                  </ul>
                </li>
                <li><a href="http://profesoresley.ucsp.edu.pe/SitePages/Inicio.aspx">Professors</a></li>
                <li {% if page.path == "education.html" %}class="active"{% endif %}>
                <a href="/education.html" class="dropdown-toggle" data-toggle="dropdown">Education<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li{% if page.path == "plan-de-estudios.html" %}class="active"{% endif %}>
                    <a href="/plan-de-estudios.html">Syllabus</a>
                    </li>
                    <li {% if page.path == "malla-curricular.html" %}class="active"{% endif %}>
                    <a href="/malla-curricular.html">Curricular Mesh</a>
                    </li>
                  </ul>
                </li>
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="http://rics.ucsp.edu.pe/mcs/" target="_blank">Maestría</a></li>                
                <li {% if page.path == "research.html" %}class="active"{% endif %}><a href="http://rics.ucsp.edu.pe/" target="_blank">Centro de Investigación</a></li>                
                <li>
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Students<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li>
                    <a href="/estudiantes/index_en.html">Current Students</a>
                    </li>
                   
                    <li>
                    <a href="/estudiantes/destacados_en.html">Featured Students</a>
                    </li>
                    <li>
                    <a href="/estudiantes/preguntasfrecuentes_en.html">Frequent questions</a>
                    </li>
                    <li>
                    <a href="/estudiantes/testimonios_en.html">Testimonies</a>
                    </li>
                  </ul>
                </li>
                <li>
                    <a href="/contact_en.html">Contact</a>
                </li>



                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href=""></a>
                </li>
                <li>
                    <a href="/index_en.html">EN</a>
                </li>
                <li>
                    <a href="/">SP</a>
                </li>
              </ul>

            </div>
