<!-- BEGIN #footer-wrapper -->
<div class="page-title-box-footer clearfix">
     <span class="tittle-footer">Accesos principales</span>
</div>
<div>
<ul style=" padding-left:5px!important;">
<li><a class="footer-css" href="http://ucsp.edu.pe/antiguosalumnos/">Comunidad de Antiguos Alumnos</a></li>
<li><a class="footer-css" href="http://centrodecolocaciones.ucsp.edu.pe/">Portal de empleo Antiguos Alumnos</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/biblioteca">Biblioteca</a></li>
<li><a class="footer-css" href="http://gmail.ucsp.edu.pe/">San Pablo Mail</a></li>
<li><a class="footer-css" href="http://academico.ucsp.edu.pe/">Portal Académico</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/calidadyacreditacion">Calidad y Acreditación</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/admision">Admisión</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/saladeprensa/">Sala de PRENSA</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/archivos/plano_de_ubicacion.pdf">Plano de ubicación</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/ieee/">Rama Estudiantil IEEE</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/agenda-para-el-desarrollo-de-arequipa/">Agenda para el Desarrollo de Arequipa</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/lugares-de-pago/">Ahora tienes más formas de pago</a></li>
</ul>
</div>