        <div class="bs-component">
        <div class="navbar navbar-inverse-top">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">

              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>

            </button>
            <a class="navbar-brand"></a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
			  <ul class="nav navbar-nav navbar-nav-head">
				  <li><a href="http://ucsp.edu.pe/"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Web Principal</a></li>
				  <li><a href="http://academico.ucsp.edu.pe/"><i class="fa fa-graduation-cap" style="font-size: 1em!important;"></i> Portal Académico</a></li>
				  <li><a href="http://gmail.ucsp.edu.pe/"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> San Pablo Mail</a></li>
				   <li><a href="http://ucsp.edu.pe/contacto"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Contacto</a></li>
			  </ul>
          </div>
        </div>
      </div>