<!-- BEGIN #footer-inner -->
    	
<div class="page-title-box-footer clearfix">
     <span class="tittle-footer">Pregrado</span>
</div> 			
<div>
		<ul style=" padding-left:5px!important;">

			<li><a class="footer-css" href="http://ucsp.edu.pe/administracion">Administración de Negocios</a></li>
			<li><a class="footer-css" href="http://ucsp.edu.pe/contabilidad">Contabilidad</a></li>
			<li><a class="footer-css" href="http://ucsp.edu.pe/educacion">Educación Inicial y Educación Primaria</a></li>
			<li><a class="footer-css" href="http://ucsp.edu.pe/psicologia">Psicología</a></li>
			<li><a class="footer-css" href="http://cs.ucsp.edu.pe/">Ciencia de la Computación</a></li>
<li><a class="footer-css" href="http://ucsp.edu.pe/civil">Ingeniería Civil</a></li>
			<li><a class="footer-css" href="http://ucsp.edu.pe/iet">Ing. Electrónica y de Telecomunicaciones</a></li>
			<li><a class="footer-css" href="http://ucsp.edu.pe/industrial">Ingeniería Industrial</a></li>
			<li><a class="footer-css" href="http://ucsp.edu.pe/derecho">Derecho</a></li>
		</ul>
</div>

		