        <div class="bs-component">
        <div class="navbar navbar-inverse">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-inverse-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand"></a>
          </div>
          <div class="navbar-collapse collapse navbar-inverse-collapse">
          <ul class="nav navbar-nav"><li>

          <a href="#" class="dropdown-toggle" data-toggle="dropdown">La Universidad <b class="caret"></b></a>


          <ul class="dropdown-menu">
            <li class="dropdown"><a href="http://ucsp.edu.pe/identidad/">Identidad</a></li>
            <li><a href="http://ucsp.edu.pe/sodalitium-christianae-vitae/">Sodalitium Christianae Vitae</a></li>
            <li><a href="http://ucsp.edu.pe/compromiso-social/">Compromiso Social</a></li>
            <li><a href="http://ucsp.edu.pe/resena-historica/">Reseña Histórica</a></li>
            <li class="dropdown-submenu"><a href="#">Directorio</a>
            <ul  >
              <li><a href="http://ucsp.edu.pe/autoridades/">Autoridades</a></li>
              <li><a href="http://ucsp.edu.pe/patronato/">Patronato</a></li>
            </ul>
          </li>
            <li><a href="http://ucsp.edu.pe/personaycultura/">Centro de Estudios para la Persona y la Cultura</a></li>
            <li><a href="http://ucsp.edu.pe/apostolado">Espiritualidad y Apostolado</a></li>
          </ul>
          </li>
          <li><a href="http://ucsp.edu.pe/admision">Admisión</a></li>
          <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Pregrado <b class="caret"></b></a>
          <ul class="dropdown-menu" >
            <li ><a href="#">Fac. de Ciencias Económico Empresariales</a>
            <ul  >
              <li><a href="http://ucsp.edu.pe/administracion">Administración de Negocios</a></li>
              <li><a href="http://ucsp.edu.pe/contabilidad">Contabilidad</a></li>
            </ul>
          </li>
            <li><a href="#">Fac. de Ciencias Humanas</a>
            <ul  >
              <li><a href="http://ucsp.edu.pe/educacion">Educación</a></li>
              <li><a href="http://ucsp.edu.pe/psicologia">Psicología</a></li>
            </ul>
          </li>
            <li><a href="#">Fac. de Derecho</a>
            <ul  >
              <li><a href="http://ucsp.edu.pe/derecho">Derecho</a></li>
            </ul>
          </li>
            <li><a href="#">Fac. de Ingeniería y Computación</a>
            <ul  >
              <li><a href="http://cs.ucsp.edu.pe/">Ciencia de la Computación</a></li>
              <li><a href="http://ucsp.edu.pe/civil">Ingeniería Civil</a></li>
              <li><a href="http://ucsp.edu.pe/iet">Ingeniería Electrónica y de Telecomunicaciones</a></li>
              <li><a href="http://ucsp.edu.pe/industrial">Ingeniería Industrial</a></li>
            </ul>
          </li>
            <li><a href="#">Servicios Universitarios</a>
            <ul  >
              <li><a href="http://ucsp.edu.pe/asuntosestudiantiles">Asuntos Estudiantiles</a></li>
              <li><a href="http://ucsp.edu.pe/biblioteca">Biblioteca</a></li>
            </ul>
          </li>
            <li><a href="#">Departamentos Académicos</a>
            <ul  >
              <li><a href="http://www.ucsp.edu.pe/humanidades">Departamento de Humanidades</a></li>
            </ul>
          </li>
          </ul>
          </li>
          <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Postgrado <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="http://estudiosperuanos.ucsp.edu.pe/maestriaenhistoria/">Maestría en Historia</a></li>
          </ul>
          </li>
          <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Extensión Universitaria <b class="caret"></b></a>
          <ul  class="dropdown-menu">
            <li><a href="http://www.ucsp.edu.pe/auladelsaber">Aula del Saber</a></li>
            <li><a href="http://www.ucsp.edu.pe/idiomas">Centro de Idiomas</a></li>
            <li><a href="http://liderazgo.ucsp.edu.pe/">Centro de Liderazgo para el Desarrollo</a></li>
            <li><a href="http://ucsp.edu.pe/formacioncontinua/">Formación Continua para la Empresa</a></li>
            <li><a href="http://www.ucsp.edu.pe/ojpii">Observatorio Juan Pablo II</a></li>
            <li><a href="http://ucsp.edu.pe/proyectoseducativos/">Proyectos Educativos</a></li>
          </ul>
          </li>
          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dirección de Investigación <b class="caret"></b></a>
            <ul class="dropdown-menu">
            <li><a href="http://estudiosperuanos.ucsp.edu.pe">Centro de Estudios Peruanos</a></li>
            <li><a href="http://ucsp.edu.pe/cpsc">Centro de Pensamiento Social Católico</a></li>
            <li><a href="http://ucsp.edu.pe/imf">Instituto para el Matrimonio y la Familia</a></li>
            <li><a href="http://ucsp.edu.pe/fondoeditorial">Fondo Editorial</a></li>
            <li><a href="http://ucsp.edu.pe/iem">Instituto de Energía y Medio Ambiente</a></li>
            <li><a href="http://cicc.ucsp.edu.pe">Centro de Investigación de Ciencia de la Computación</a></li>
            <li><a href="http://ucsp.edu.pe/cegob">Centro de Gobierno Jose Luis Bustamante y Rivero</a></li>
          </ul>
          </li>
          <li><a href="http://ucsp.edu.pe/internacional">Internacional</a></li>
          </ul>
          </div>
        </div>
      </div>