<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="{{ page.title }} - Ciencia de la Computación de la Universidad Católica San Pablo.">
    <meta name="author" content="{{ site.author }}">
    <meta name="keywords" content="ucsp, san pablo, universidad catolica san pablo, arequipa, investigacion, computer science, ciencia computacion, catholic university peru" />
    <meta name="rights" content="Derechos Reservados, Universidad Católica San Pablo 2013 - 2014" />
    <title>{{ page.title }} | {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link href="/css/bootswatch.css" rel="stylesheet">

    <!-- syntax highlighting CSS -->
    <link rel="stylesheet" href="/css/syntax.css">

    <!-- Custom CSS -->
<!--    <link href="/css/carousel.css" rel="stylesheet"> -->
  </head>
  <body>
    <div class="container">

      {%include ucsp-nav.html %}
      
      <!-- // Header -->
      <div class="page-header" id="banner">
        <div class="row">
          <div class="col-lg-7 col-md-7 col-sm-6">
            <a href="http://cs.ucsp.edu.pe">
            <img src="/img/logo-ucsp.jpg" class="img-responsive img-rounded"></a>
          </div>
          <div class="col-lg-5 col-md-5 col-sm-6">
            <h1>{{ site.name }}</h1>
          </div>
        </div>
      </div>
      <!-- Header // -->
      
      <!-- // Navigation bar -->
      <div class="bs-docs-section clearfix">
        <nav class="navbar navbar-inverse" role="navigation">
          <div class="container-fluid">        
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
              <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">Inicio</a>
            </div>
            <!-- // CS NavBar -->
            {% include cs-navbar.html %}
            <!-- CS NavBar // -->
          </div>
        </nav>
      </div>
      
      <!-- // Content -->
      {% if page.path == "index.html" %}
      <div class="row">
	{{ content }}
      </div>
      {% else %}
      <div class="row">
        <div class="col-lg-12">
          {{ content }}
        </div>
      </div>
      {% endif %}
      <!-- // Footer -->
      <footer>
        <div class="row">
          <div class="col-lg-12">
            <p class="pull-right"><a href="#">Arriba</a></p>
            <p>&copy; 2013-{{ site.time | date: "%Y" }}, {{ site.name }} - <a href="http://www.ucsp.edu.pe">{{ site.institution }}</a>
            &middot; <a href="/contact.html">Contacto</a></p>
            <hr>
            <p>Campus Campiña Paisajista s/n Quinta Vivanco, Barrio de San
            Lázaro, Arequipa | Telf: +51 54 605630, +51 54 605600  anexo
            200, 300 ó 390 | Escríbenos a: institucional@ucsp.edu.pe
            </p>
          </div>
        </div>
      </footer>
      <!-- Footer // >
    </div><!-- /.container -->
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/holder.js"></script>
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-50793146-1', 'ucsp.edu.pe');
    ga('send', 'pageview');
    </script>
    </body>
</html>
